<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Add New User</title>
</head>
<body>
    <div class="container">
        <div class="header d-flex justify-content-between">
            <div class="title">
                <h1>Edit User {{ user.id }}</h1>
            </div>
            <div>
                <a href="/">Home</a>
            </div>
        </div>
        <form action="/users/edit" method="post">
            <input type="hidden" name="id" value="{{user.id}}">
            <div class="col-5">
                <label for="first_name" name="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
            </div>
            <div class="col-5">
                <label for="last_name" name="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
            </div>
            <div class="col-5">
                <label for="email" name="email">Email:</label>
                <input type="text" name="email" class="form-control" value="{{user.email}}">
            </div class="col-5">
            <input type="submit" value="Update">
            <a href="/users/{{user.id}}">Show User</a>
        </form>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>